

html {
    background: linear-gradient(to bottom, white, whitesmoke);
}

#metaStuff{
    display: block;
    background: mistyrose;
    padding: 1em;
    z-index:999;
}
.new{
    font-weight: bold;
    font-style: italic;
    color: orangered;
}